{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Kullawipa Rattanapong</h1>
        <h1>6710110033</h1>
        <h1>AI Engineering</h1>
        <h1>pittachioooo</h1>
        <img class="image"
            src="https://scontent.fbkk5-7.fna.fbcdn.net/v/t1.6435-9/193505117_1099632057227054_8139471250998066964_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeHwPqi56z6O1fXX9qrGRoFq6rPYLx4cQnzqs9gvHhxCfGbh4twzW7r7GU0ncIxCV_dmnIEurOqGJRGI1q4Q2_Ko&_nc_ohc=9oLVzq_aWwMQ7kNvgFMhg8b&_nc_oc=AdgO4fESfcWWqiBc-dFdWJVDSy3SsBQx2ekcANM6bIe3qosMt4KAEIUe6ZIsAdM9XpUGCIFKz5y97W6ZK-NX6OqQ&_nc_zt=23&_nc_ht=scontent.fbkk5-7.fna&_nc_gid=AL_-KA2YmcwS7d8blOmcPNb&oh=00_AYBxvME8AJEjrrIajy89pZ-9dEIWCUFP5tPdot4V3uD7Nw&oe=67944B1F"
            width="300" height="auto">
    </div>
</div>
{% endblock %}